@use "../../styles/variables.scss";
@use "../../styles/mixin.scss";
.slideShowContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 0.937rem;

  &__img {
    object-fit: cover;
    border-radius: 25px;
    margin: 0 1.25rem 0.937rem 1.25rem;
    width: 100%;
    height: 255px;
    overflow: hidden;
    @media (min-width: 768px) {
      width: 1240px;
      height: 415px;
      margin-left: 6.25rem;
      margin-right: 6.25rem;
    }
  }
  &__arrow--left,
  &__arrow--right {
    cursor: pointer;
    width: 24px;
    height: 24px;
    color: white;
    position: absolute;
    z-index: 1;
    @media (min-width: 768px) {
      width: 96px;
      height: 119.64px;
    }
  }
  &__arrow--left {
    transform: rotate(-180deg);
    top: 40%;
    left: 12%;
    @media (min-width: 768px) {
      top: 35%;
      left: 10%;
    }
  }
  &__arrow--right {
    top: 40%;
    right: 12%;
    @media (min-width: 768px) {
      top: 35%;
      right: 10%;
    }
  }
  &__txt {
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    left: 50%;
    color: white;
    @media (min-width: 768px) {
      visibility: visible;
    }
  }
}
.descriptionContainer {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  @media (min-width: 768px) {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    display: flex;
    justify-content: space-between;
  }
  &__content--title {
    font-size: 1.125rem;
    font-weight: 500;
    color: variables.$main-color;
    margin-bottom: 0.312rem;
    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
  }
  &__content--location {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
    @media (min-width: 768px) {
      font-size: 1.125rem;
    }
  }
  &__content--tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    .item {
      @include mixin.tag_unit;
      font-size: 0.625rem;
      font-weight: 700;
      color: white;
      @media (min-width: 768px) {
        font-size: 0.875rem;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1.5rem;
    @media (min-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__info--owner {
    display: flex;
    align-items: center;
    gap: 0.656rem;
    .owner__name {
      width: 3.125rem;
      text-align: right;
      font-size: 0.75rem;
      color: variables.$main-color;
      @media (min-width: 768px) {
        font-size: 1.125rem;
        width: 4.5rem;
      }
    }
    .owner__picture {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      @media (min-width: 768px) {
        width: 64px;
        height: 64px;
        margin-bottom: 1.31rem;
      }
    }
  }
  &__info--rating svg:not(:last-child) {
    margin-right: 0.578rem;
  }
}
.slideShow__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  margin: 0 1.25rem 1.687rem 1.25rem;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
    margin-bottom: 3.125rem;
  }
}
//Surchage du style global
.slideShow__wrapper--style {
  width: 100%;
  @media (min-width: 768px) {
    width: 582px;
  }
  .quality__item--title {
    font-size: 0.812rem;
  }
  .quality__item--content {
    font-size: 0.76rem;
  }
  svg {
    width: 16px;
    height: 9.14px;
  }
  .active {
    @media (min-width: 768px) {
      height: 150px;
    }
  }
}
.hidden {
  display: none;
}
