* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  height: 100%;
}
.house__container,
.home__container,
.about__container,
.notFound__container {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
}
.house__container {
  margin-bottom: 1.687rem;
  @media (min-width: 768px) {
    margin-bottom: 3.125rem;
  }
}
.home__container {
  @media (min-width: 768px) {
    margin-bottom: 3.125rem;
  }
}
.about__container {
  display: flex;
  flex-direction: column;
}

.main__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
a {
  color: inherit;
  text-decoration: none;
}
