.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.687rem;
  @media (min-width: 768px) {
    margin-top: 2.81rem;
    margin-bottom: 3.125rem;
  }
  .navbar__logo {
    width: 145px;
    height: 46.88px;
    @media (min-width: 768px) {
      width: 210.32px;
      height: 68px;
    }
  }
  .navbar__link {
    display: flex;
    gap: 1.625rem;
    @media (min-width: 768px) {
      gap: 3.56rem;
    }
    &--active {
      text-decoration: underline;
    }
  }
}
