footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1.785rem;
  background-color: black;
  padding-top: 4.125rem;
  padding-bottom: 1.812rem;
  height: 209px;
  .footer__logo {
    color: white;
    width: 122px;
    height: 39.44px;
  }
  .footer__txt {
    color: #ffffff;
    font-size: 0.75rem;
    text-align: center;
    width: 120px;
    @media (min-width: 768px) {
      // font-size: 1.5rem;
      font-size: clamp(1rem, 0.112vw + 0.75rem, 1.5rem);
      width: fit-content;
    }
  }
}
